{% extends "layout.html" %}
{% block content %}
      <title>About us</title>
        <br>
        <center><h1 style="color: #000;">Meet the Team</h1>
        <br>
        <br>
      </center>
      

      <center>
        <div class="w3-row"><br>
        <div class="w3-quarter" style="color: #008080;">
          <img src="static/img/mo.png" alt="Boss" style="width:10%" class="w3-circle w3-hover-opacity">
          <h3>Mohomed</h3>
          <p>Front End Developer & Data Mining</p>
          <p style="color: #73ADE3;">bt19655@qmul.ac.uk</p>
        </div>

        <div class="w3-quarter" style="color: #008080;">
          <img src="static/img/zoonii.png" alt="Boss" style="width:10%" class="w3-circle w3-hover-opacity">
          <h3>Zoonii</h3>
          <p>Data Analyst & Biologist</p>
          <p style="color: #73ADE3;">bt19662@qmul.ac.uk</p>
        </div>

        <div class="w3-quarter" style="color: #008080;">
          <img src="static/img/numaan.png" alt="Boss" style="width:10%" class="w3-circle w3-hover-opacity">
          <h3>Naumaan</h3>
          <p>Database Integration & Backend Developer</p>
          <p style="color: #73ADE3;"> bt19636@qmul.ac.uk</p>
        </div>
        </center>


        
        </div>

        </div>
        </div>



{% endblock  content %}
