{% extends "layout.html" %}
{% block content %}
      <!-- Nav Bar Style -->
      <div class="container-fluid padding">
        <div class="row welcome text-center">
          <div class="col-12">
            <h1 class="display-4">About Us & Resources</h1>
          </div>
          <hr>
        <div class="col-12">
            <p class="lead">Welcome to Kinase Kinpendium a web application that allowes researches to access background information on all known Human Kinases, their phosphorylation sites, the inhibitors that work on them and upload sample data to be analysed (we need to give explanation of the types of sample data format and how it is generated etc)</p>
      </div>

{% endblock  content %}
