{% extends "layout.html" %}
{% block content %}

    <title>Upload new File</title>
    <body>
    	

        
        <br>
        <center><h1 style="color: #000;">Data Analysis</h1>
        <br>
        <br>
        <header class="w3-center w3-margin-bottom" style="color: #000;">
            <h2>Instructions to upload a new file!!</h2>
    </center>
    <br>
    <br>
   <center>
    <form method=post enctype=multipart/form-data>
      <input type=file name=file>
      <input type=submit value=Analyse>
    </form> </center>

{% endblock content %}

