{% extends "layout.html" %}
{% block content %}
      <!-- Jumbatron-->
      <div class="container-fluid padding">
      <div class="row welcome text-center">
        <div class="col-12">
          <h1 class="display-4">Data Analysis</h1>
        </div>
        <hr>
        <div class="col-12">
          <p class="lead">Welcome to Kinase Kinpendium a web application that allowes researches to access background information on all known Human Kinases, their phosphorylation sites, the inhibitors that work on them and upload sample data to be analysed (we need to give explanation of the types of sample data format and how it is generated etc)</p>
        </div>
        <hr>
      

      <!-- Data Analysis Upload button -->
      <form class="form-inline mr-auto ml-auto">
        <input type="file" id="myFile" name="filename">
      </form>
{% endblock content %}
