{% extends "layout.html" %}
{% block content %}



<!-- search Function -->
{% from "helperforms.html" import render_field %}
  <form method="POST">
    <div class="search">
        <div class="wrap">


            <!-- drop down menu -->
            {{ form.select(class="searchTerm")}}
            <br>
            <br>

            {{ form.search(class="searchTerm", placeholder="Type in the Inhibitor Name or ChEMBL ID")}}
            <p></p>
            <br>
            <br>
        <input type="submit" value="Search" class=searchButton>
        </div>
    </div>
</form>
<br>
<br>


{% endblock content %}