{% extends "layout.html" %}
{% block content %}

<div class="w3-card-4 w3-margin w3-white">
	<div class="w3-container">
		<br>
		<center> <h5><b>Select Kinase Name</b></h5> <center>
			<br>
			<style>
	        table {
	          font-family: arial, sans-serif;
	          border-collapse: collapse;
	          width: 100%;
	        }

	        td, th {
	          border: 1px solid #dddddd;
	          text-align: left;
	          padding: 8px;
	        }

	        tr:nth-child(even) {
	          background-color: #f2f2f2;
	        }
	        </style>

	        <table>
	        <!-- Loop through results and allocate them to table -->
	        {% for x in Uniprot_results %}
	        <tr>
	           <td>Kinase Uniprot Acc Num: <a href="{{ url_for('profile', kinase = x.Kinase_Symbol) }}">{{ x.Kinase_Symbol}}</a></td>
	           <td>{{ x.Uniprot_Accession_Number }}</td>
	           <td>{{ x.Kinase_Symbol}}</td>
	        </tr>
	        {% endfor %}
	        </table>










{% endblock content %}